/* ================ GOOGLE FONTS ================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
/* ================ VARIABLE CsS ================*/
:root {
  /* Primary */
  --color-VeryDarkBlue: #070439;
  --color-DesaturatedBlue: #585989;
  /* Accent */
  --color-BrightBlue: #3065f8;
  --color-ModerateCyan: #3c9f8f;
  /* Neutral */
  --color-LightGrayishBlue: #f6f6fe;
  --color-LightGray: #bfbfbf;

  /* Font weight */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Font-size */
  --font-xl: 2.5rem; 
  --font-l: 2rem;
  --font-body-m: 1.063rem
  --font-body-s: 1rem;
  --font-body-xs: 0.875rem
  --font-body-1-xs: 0.813rem;
  --font-body-2-xs: 0.75rem;
  --font-body-3-xs: 0.688rem;
  --font-body-4-xs: 0.5rem;
}

/* RESET CSS */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:link{
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

input,
button {
  font: inherit;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-VeryDarkBlue);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* LAYOUT */
.container {
  max-width: calc(69.375rem + 64px);
  padding: 0 2rem;
  margin: 0 auto;
}

/* HEADER */
.header {
  padding-top: 65px;
  padding-bottom: 86px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 58px;
}

.menu-link:link, .menu-link:visited {
  display: inline-block;
  font: var(--fw-regular) 1rem/1.19 "Raleway";
  color: var(--color-VeryDarkBlue);
}

