/* ================ GOOGLE FONTS ================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
/* ================ VARIABLE CsS ================*/
:root {
  /* Primary */
  --color-VeryDarkBlue: #070439;
  --color-DesaturatedBlue: #585989;
  /* Accent */
  --color-BrightBlue: #3065f8;
  --color-ModerateCyan: #3c9f8f;
  /* Neutral */
  --color-LightGrayishBlue: #f6f6fe;
  --color-LightGray: #bfbfbf;

  /* Font weight */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Font-size */
  --font-xl: 2.5rem;
  --font-l: 2rem;
  --font-body-m: 1.063rem;
  --font-body-s: 1rem;
  --font-body-xs: 0.875rem;
  --font-body-1-xs: 0.813rem;
  --font-body-2-xs: 0.75rem;
  --font-body-3-xs: 0.688rem;
  --font-body-4-xs: 0.5rem;
}

/* RESET CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
  color: #fff;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
  overflow-x: hidden;
}

input,
button {
  font: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-VeryDarkBlue);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Component */
.btn {
  border: none;
  font: var(--fw-bold) var(--font-body-xs) / 1.14 "Raleway";
  color: #fff;
  padding: 15px 61px 14px 61px;
  border-radius: 3.125px;
  background-color: var(--color-BrightBlue);
  cursor: pointer;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  white-space: nowrap;
}

.btn:hover {
  background-color: #6c9bff;
}

/* LAYOUT */
.container {
  max-width: calc(80rem + 64px);
  padding: 0 2rem;
  margin: 0 auto;
}

/* HEADER */
.header {
  padding-top: 65px;
  padding-bottom: 86px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 58px;
}

.menu-link:link,
.menu-link:visited {
  display: inline-block;
  font: var(--fw-regular) 1rem/1.19 "Raleway";
  color: var(--color-VeryDarkBlue);
}

/* SECTION-HERO */
.section-hero {
  padding-bottom: 164px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 13px;
}

.hero-title {
  font: var(--fw-bold) var(--font-xl) / 1.5 "Raleway";
  margin-bottom: 15px;
}

.hero-description {
  font: var(--fw-regular) 17px/1.41 "Open Sans";
  letter-spacing: 0.53px;
  margin-bottom: 25px;
  max-width: 585px;
}

.hero-form,
.hero-form input::placeholder {
  font: var(--fw-regular) var(--font-body-xs) / 1.35 "Open Sans";
}

.hero-form {
  display: flex;
  gap: 16px;
  max-width: 100%;
}

.hero-form input {
  flex: 1;
  border: 0.625px solid #07043b;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  padding: 14px 0px 12px 21px;
  max-width: 320px;
}

.hero-img {
  max-width: auto;
  height: 474px;
}

/* SECTION-TESTIMONIAL */
.section-productive {
  position: relative;
}

.productive {
  padding-top: 178px;
  padding-bottom: 105px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  gap: 88px;
}

.productive-title {
  font: var(--fw-bold) var(--font-xl) / 1.18 "Raleway";
  margin-bottom: 38px;
}

.productive-desc {
  font: var(--fw-regular) 1rem/1.5 "Open Sans";
  margin-bottom: 16px;
  max-width: 529px;
}
.productive-desc--bottom {
  margin-bottom: 15px;
}

.productive-link:link,
.productive-link:visited {
  display: inline-block;
  font: var(--fw-regular) 1rem/1.4 "Open Sans";
  color: var(--color-ModerateCyan);
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.productive-link::after {
  content: "";
  display: block;
  width: 166px;
  height: 1px;
  background-color: var(--color-ModerateCyan);
  position: absolute;
  bottom: -4px;
}

.testimonial {
  background-color: #ffffff;
  padding: 49px 34px 26px 33px;
  max-width: 356px;
  box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
  border-radius: 5px;
}

.testimonial-cite {
  font: var(--fw-regular) var(--font-body-1-xs) / 1.77 "Open Sans";
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.testimonial-cite::before {
  content: "";
  display: block;
  width: 13px;
  height: 12px;
  background: url(../img/icon-quotes.svg) no-repeat;
  margin-bottom: 10px;
}

.author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.author-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.author-name {
  font: var(--fw-bold) var(--font-body-3-xs) / 1.36 "Open Sans";
  letter-spacing: 0.55px;
}

.author-occupation {
  font: var(--fw-regular) var(--font-body-4-xs) / 1.88 "Open Sans";
  letter-spacing: 0.4px;
}

.productive-bg {
  max-width: 542px;
  height: 409px;
}

.productive-bg {
  max-width: 1440px;
  height: 838px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.section-cta-bg {
  background-color: var(--color-DesaturatedBlue);
}

.section-cta {
  max-width: 1440px;
  margin: 0 auto;
  padding: 102px 120px 85px 80px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1.2fr 1.5fr;
  justify-items: end;
  align-items: center;
  gap: 40px;
}

.cta-content {
  padding-left: 0;
}

.cta-title {
  font: var(--fw-bold) 2rem/1.5 "Raleway";
  margin-bottom: 17px;
}

.cta-description {
  font: var(--fw-regular) 1rem/1.5 "Open Sans";
  max-width: 500px;
}

.cta-form,
.cta-form input {
  font: var(--fw-regular) var(--font-body-xs) / 1.16 "Open Sans";
}

.cta-form {
  display: grid;
  justify-items: start;
  align-content: start;
  gap: 16px;
}

.cta-form input {
  width: 480px;
  height: 48px;
  border: none;
  padding: 16px 0 18px 22px;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 3.125px;
}
.btn-cta {
  padding: 16px 33px 16px 32px;
}

/* FOOTER */
.footer-bg {
  background: var(--color-VeryDarkBlue);
}

.footer {
  max-width: calc(1100px + 80px + 261px);
  margin: 0 auto;
  padding: 92px 261px 86px 80px;
  color: #fff;
}

.footer-link {
  display: inline-block;
  margin-bottom: 36px;
}

.footer-logo path {
  fill: #fff;
}

.footer-content {
  display: grid;
  grid-template-columns: 5fr 4fr 3fr;
  align-items: start;
}

.footer-contact {
  display: grid;
  row-gap: 15px;
  /* margin-right: 222px; */
}
.footer-contact a {
  display: flex;
  gap: 16px;
}
.footer-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

.footer-nav:nth-child(2) {
  justify-self: end;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
  max-width: 350px;

  justify-self: center;
  white-space: nowrap;
}

.nav-link:link,
.nav-link:visited {
  font: var(--fw-regular) 1rem/1.4 "Open Sans";
  color: inherit;
}

.footer-redes {
  display: flex;
  align-items: flex-start;
  gap: 11px;
  justify-self: end;
  /* margin-left: 185px; */
}

.footer-icon {
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  fill: #fff;
  border: 1px solid #dfe4f0;
  border-radius: 50%;
  padding: 6px;
}

/* RESPONSIVE */
@media (max-width: 1140px) {
  .nav {
    gap: 100px;
  }

  .section-cta {
    align-items: start;
  }

  .cta-description {
    font: var(--fw-regular) var(--font-body-1-xs) / 1.5 "Open Sans";
    max-width: 500px;
  }

  .cta-title {
    font: var(--fw-bold) 1.8rem/1.5 "Raleway";
    margin-bottom: 17px;
  }

  .cta-form input {
    width: 450px;
  }

  .footer {
    max-width: calc(1100px + 80px + 261px);
    margin: 0 auto;
    padding: 92px 80px 86px 80px;
    color: #fff;
  }

  .footer-content,
  .nav {
    gap: 32px;
  }

  .hero-img {
    height: 374px;
  }
}

@media (max-width: 912px) {
  .hero-title,
  .productive-title {
    font-size: 1.8rem;
    line-height: 40px;
  }

  .hero-description,
  .productive-desc,
  .productive-link {
    font-size: 14px;
  }

  .hero-description {
    max-width: 300px;
  }

  .hero-form {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  .hero-form input {
    align-self: stretch;
  }

  .hero-img {
    height: 274px;
  }

  .productive {
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 40px;
  }

  .productive-content {
    grid-row: 2;
  }

  .productive-img {
    max-width: 600px;
  }

  .section-cta {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}
